html {
  height: 100%;
  box-sizing: border-box;
  word-break: break-all;
}

body {
  background-color: black;
  margin: 0;
  font: 1em 'Zodiak', serif;
  /* font: 1em "Montserrat", sans-serif; */
  position: relative;
  min-height: 100%;
  padding-bottom: 7.5rem;
  box-sizing: inherit;
}
button{
  font: 1em 'Zodiak', serif;
  font-weight: 800;
  border-radius: 10px;
}
input, textarea{
  font: 1em 'Zodiak', serif;
  font-weight: 600;
}

.main-cont {
  display: inline-block;
  justify-content: space-between;
}
.header-container {
  background-color: #232D3F;
  color: white;
  margin: 0;
  padding: 20px;
}
.main-heading {
  display: inline-block;
}
h1 {
  margin: 0;
}
.note-container {
  vertical-align: top;
  display: inline-block;
  background-color: #dfdfde;
  border: 3px solid black;
  padding: 20px 30px;
  border-radius: 10%;
  margin: 25px 45px;
  max-width: 200px;
  min-width: 150px;
  min-height: 100px;
}
.content-container,
.title-container {
  text-align: left;
}
.title-container h3{
  word-break: break-word;
}
.notePara{
  word-break: break-word;
  font-weight: 700;
}
.footer-container {
  background-color: #232D3F;
  color: white;
  min-height: 1.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.foot {
  padding: 2.5px 5px;
}
.title-container {
  max-height: 150px;
}
.main {
  text-align: center;
  display: flex;
}
.add-note-container {
  margin: 0 auto;
  margin-top: 20px;
  height: 150px;
  width: 400px;
  background-color: white;
  border: black 3px solid;
  padding: 20px;
  position: relative;
  border-radius: 2%;
}

.add-title {
  height: 30px;
  width: 396px;
  text-align: left;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  margin: 0;
  padding-right: 0;
  font-size: 1rem;
  outline: none;
}
.add-note {
  margin: 0 auto;
  width: 100%;
  height: 150px;
  text-align: left;
  margin-left: 0;
  position: absolute;
  top: 40px;
  border: none;
  box-sizing: border-box;
  left: 0;
  padding: 5px 10px;
  resize: none;
  font-size: 1rem;
  outline: none;
  word-break: break-word;
  font-weight: 700;
}
.add-btn {
  position: absolute;
  bottom: -17.5px;
  right: -5px;
  border-radius: 60%;
  padding: 5px;
  width: 40px;
  font-size: larger;
  background-color: #9BABB8;
}

.add-icon {
  color: white;
}
.overlay-container {
  margin: auto;
  width: 300px;
  height: 300px;
  position: absolute;
  text-align: center;
  background-color: #ffe61b;
}
.delete-btn {
  background: transparent;
  border: none;
}

.note-icon {
  background-color: #f7f7f7;
  height: 15px;
  width: 15px;
}
.header-icon {
  font-size: 32px;
}
.dark-mode {
  background-color: #ffe61b;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}

/**/
.sidebar-container {
  width: 20%;
  background-color: #dfdfde;
  height: 500px;
  border-right: 2px solid black;
}
.input-list-div {
  margin: 10px 0;
}
.input-div{
  width:100%;
  margin-left: 5px;
  text-align: center;
}
.sidebar-div input {
  width: 70%;
  height: 25px;
  border: solid black 0.5px;
}
.list-name a{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}
.list-name{
  font-weight: 700;
  background: #9BABB8;
  width: 50%;
  text-align: center;
  margin: 0 auto 5px;
  padding: 5px;
 
}
.add-list-btn{
  background-color: inherit;
  border: none;
  margin-bottom:-10px;
}
.list-name-div {
  overflow-y: auto;
  max-height: 400px;
}
.main-section {
  width: 90%;
  text-align: center;
  align-items: center;
}

.register-container {
}
/* .login-container{
  display: flex;
  flex-direction: row;
} */
.auth-img{
  height: auto;
  width:500px;
}
.register-main, .login-main {
  text-align: center;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  background-color: #dfdfde;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  padding: 50px;
  border: 1px solid black;
}
.register-main h3, .login-main h3{
  margin-top: 5px;
}
.auth-input {
  padding: 10px;
  margin: 5px;
  border: 0.5px solid black;
  width: 270px;
}
.register-input{

}
.pass-div{
  width: 350px;
  text-align: start;
}
.auth-btn {
  display: block;
  padding: 10px;
  font-size: large;
  margin: 10px auto;
}

.register-main p, .login-main p{
    font-weight: 800;
    word-break: break-word;
}
.password-input{display: inline-block;}
.show-pass{
  width: fit-content;
  border: none;
  background-color: inherit;
  display: inline-block;
}
.header-btn-div{
  float: right;
  margin-top: -5px;
  padding-right: 25px;
}

.header-btn{
  padding:10px;
  margin: 5px 5px 10px;
  font-size: large;
  background-color: #232D3F;
  color: white;
  border: none;

}
.header-btn:hover{
  background-color: #dfdfde;
  color: #232D3F;
}